:root {
    --darkpink: rgb(224, 102, 102);
    --mdpink: rgb(234, 153, 153);
    --lightpink: rgb(244,204,204);
    --white: white;
    --black: black;
}

header{
    background-color: var(--darkpink);
    color:var(--white);
    text-align: center;

}

button{
    background-color: var(--mdpink);
    color: var(--white);
    padding: 25px;
    margin-top: 25px;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }