:root {
    --darkpink: rgb(224, 102, 102);
    --mdpink: rgb(234, 153, 153);
    --lightpink: rgb(244,204,204);
    --white: white;
    --black: black;
}

header{
    background-color: var(--darkpink);
    color:var(--white);
    text-align: center;
    font-family: Pacifico;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*First Page*/

.searchBtn{
    background-color: var(--mdpink);
    color: var(--white);
    padding: 10px;
    margin-top: 5px;
    font-family: 'Pacifico', cursive;
    border-radius: 10px;
    border-style: none;
}

.center { 
    font-family: Pacifico;
    font-size:x-large;
    border-radius: 15px;
    border-color: var(--mdpink);
}
.car-img {
    display: block;
    width: 50%;
    margin: 65px auto 50px;
  }
#search-imput{
    padding: 15px;
    font-family: Comfortaa;
    margin: 20px;
}

/* Pages 3 and 4 */

#creatorContainer{
    background-color: var(--lightpink);
    margin-top: 50px;
}

.creators{
    background-color: var(--darkpink);
}

h4{
    font-family: 'Pacifico', cursive;
    color: white;
}
 
p{
    background-color: var(--mdpink);
}